toggle>div {
    width: 100px;
}
toggle{
    padding-right: 15px;
}
.toggle-group.disabled>label{
    cursor: not-allowed;
    background-color: #d4d4d4;
}

.toggle-group.disabled>span{
    cursor: not-allowed;
}