/**
 * Servers table configuration
 */

table.table > tbody > tr > td {
    vertical-align: middle;
    padding: 0;
    text-align: center;
}

table.table > thead > tr > th {
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}

td.enable {
    width: 115px;
}

table.table > tbody > tr > td.actions-container {
    width: 60px;
    padding: 5px;
    border-right: 0;
    border-left: 0;
}

.container-fluid {
    padding-top: 20px;
}


@media (min-width: 100px) {
    .modal-dialog.modal-xl {
        width: 100%;
    }
}

/**
 * Server configuration
 */

edit-server .location>.clearfix {
    padding-bottom: 5px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn-container button {
    margin: 0 5px;
}
.btn-container button:first-child {
    margin-left: 0;
}
.btn-container button:last-child {
    margin-right: 0;
}

.location {
    position: relative;
}

.btn-trash {
    position: absolute;
    top: -11px;
    right: 0;
}