<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="pull-left">Servers</h4>
                    <button class=" btn btn-success pull-right" ng-click="$ctrl.addServer()">
                        Add new Server
                    </button>
                    <span class="clearfix"></span>
                </div>
                <div class="panel-body">
                    Nginx configurations list
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th class="location">Locations</th>
                            <th>Name</th>
                            <th>Execution port</th>
                            <th>Status</th>
                            <th colspan="2">Actions</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="server in $ctrl.servers track by $index" ng-class="{'editing' : $ctrl.editServer.$loki === server.$loki}">
                                <td>
                                    <span ng-click="$ctrl.showMore = server.$loki" ng-if="$ctrl.showMore !== server.$loki" class="glyphicon glyphicon-plus-sign"></span>
                                    <span ng-click="$ctrl.showMore = null" ng-if="$ctrl.showMore === server.$loki" class="glyphicon glyphicon-minus-sign"></span>
                                </td>
                                <td ng-bind="server.displayName"></td>
                                <td ng-bind="server.port"></td>
                                <td class="enable">
                                    <div class="checkbox pull-right">
                                        <label>
                                            <input type="checkbox"
                                                   class="toogle"
                                                   data-toggle="toggle"
                                                   ng-change="$ctrl.save()"
                                                   data-on="Enabled"
                                                   data-off="Disabled"
                                                   ng-disabled="$ctrl.mode === 'edit' && $ctrl.editServer.$loki === server.$loki"
                                                   ng-model="server.enable">
                                        </label>
                                    </div>
                                </td>
                                <td class="actions-container edit">
                                    <button type="button"
                                            class="btn btn-primary btn-md"
                                            ng-click="$ctrl.edit(server)"
                                            ng-if="$ctrl.editServer.$loki !== server.$loki"
                                            uib-tooltip="Edit server configuration"
                                            tooltip-append-to-body="true">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        Edit
                                    </button>
                                    <button type="button"
                                            class="btn btn-default btn-md"
                                            ng-click="$ctrl.stopEdit()"
                                            ng-if="$ctrl.editServer.$loki === server.$loki"
                                            uib-tooltip="Cancel server configuration"
                                            tooltip-append-to-body="true">
                                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                        Cancel
                                    </button>
                                </td>
                                <td class="actions-container conf">
                                    <button type="button"
                                            class="btn btn-primary btn-md"
                                            ng-click="$ctrl.openConf(server)"
                                            uib-tooltip="Open ninx configuration"
                                            tooltip-append-to-body="true">
                                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                                        Show
                                    </button>
                                </td>
                            </tr>
                            <tr ng-repeat-end ng-show="$ctrl.showMore === server.$loki">
                                <td></td>
                                <td colspan="5">
                                    <table class="table location">
                                        <thead>
                                        <tr>
                                            <th>location</th>
                                            <th>proxy_pass</th>
                                            <th>enabled</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="location in server.locations track by $index">
                                            <td>
                                                <span>{{location.location}}</span>
                                            </td>
                                            <td>
                                                <span>{{location.proxyPass}}</span>
                                            </td>
                                            <td>
                                                <div class="checkbox pull-right">
                                                    <label>
                                                        <input type="checkbox"
                                                               class="toogle"
                                                               data-toggle="toggle"
                                                               ng-change="$ctrl.changedLocation(server)"
                                                               data-on="Enabled"
                                                               data-off="Disabled"
                                                               ng-model="location.enable">
                                                    </label>
                                                </div>
                                                <span class="clearfix"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        <div class="col-xs-12 col-md-6" ng-if="$ctrl.mode==='nominal'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Nginx runner</h4>
                </div>
                <div class="panel-body">
                    <div class="btn-container">
                        <button class="form-control btn btn-success" type="button" ng-if="!$ctrl.isRunning"
                                ng-click="$ctrl.runNginx()">Run Nginx
                        </button>
                        <button class="form-control btn btn-danger" type="button" ng-if="$ctrl.isRunning"
                                ng-click="$ctrl.killNginx()">Kill Nginx
                        </button>
                        <button class="form-control btn btn-info" type="button"
                                ng-click="$ctrl.showAccessLog()">Show Access-log
                        </button>
                    </div>
                    <hr>
                    <label> Logs :</label>
                    <pre>
                        <div ng-repeat="log in $ctrl.logs track by $index">{{log.date | date : 'dd/MM-HH:mm'}} : {{log.log}}</div>
                    </pre>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" ng-if="$ctrl.mode==='edit'">
            <edit-server id="$ctrl.editServer.$loki"
                         ng-if="$ctrl.editServer.$loki"
                         on-save="$ctrl.stopEdit()"
            ></edit-server>
        </div>
    </div>
</div>