/**
 * Servers table configuration
 */

table.table > tbody > tr > td {
    vertical-align: middle;
    padding: 0;
    text-align: center;
}

table.table > thead > tr > th {
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}

td.enable {
    width: 115px;
}

table.table > tbody > tr > td.actions-container {
    width: 60px;
    padding: 5px;
    border-right: 0;
    border-left: 0;
}

.container-fluid {
    padding-top: 20px;
}

tr.editing > td {
    background-color: #2e6da4;
    color: white;
}

@media (min-width: 100px) {
    .modal-dialog.modal-xl {
        width: 100%;
    }
}

edit-server .location>.clearfix {
    padding-bottom: 5px;
}